li {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    ;
  }
  
ul {
    display: table;
    margin: 0 auto;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}